html, body {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(to bottom, rgb(174, 245, 241) 0%, rgb(238, 229, 233) 100%);
}

.title {
  margin: auto;
}

.tab-content {
  margin: auto;
  top: 20%;
}

.form {
  display: table;
}

input:valid {
  border-color: rgb(26, 201, 26);
}

.submit-button {
  text-align: center;
  vertical-align: bottom;
}

.mdl-textfield__label {
  color: rgb(121, 121, 121);
}
