html, body {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(rgb(174, 245, 241) 0%, rgb(238, 229, 233) 100%);
}

.gallery-image {
  border-radius: 5%;
}